// Open Sans font weight - 300 light, 400 regular, 600 semi-bold, 700 bold 

body {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-white;
}

.heading {
    &-primary {
        font-size: 4rem;
        text-align: center;
        padding-top: 4rem;

        @include respond(mob-l-land) {
            padding-top: 2rem;
        }

        @include respond(lap) {
            padding-top: 4rem;
        }
    }
}

.degree {
    font-size: 6rem;
    line-height: 9rem;
    vertical-align: top;
    margin-left: -5px;
}